<header class="row-fluid" >
	<div id="logo">
		<h1>Planejamento governamental</h1>
	</div>
		<div id="page_links" class="offset3 span9">
		<ul class="inline pull-right">
			<li><%= link_to "Início", inicio_path %></li>
			<li><%= link_to "Notícias e Eventos", noticias_path %></li>
			<li><%= link_to "Cursos", cursos_path %></li>
			<li><%= link_to "Wiki", wiki_path %></li>
			<li><%= link_to "Forum de discussões", forum_path %></li>								
			<li><%= link_to "Sobre", sobre_path %></li>
		</ul>
	</div>
</header>
